<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.dao.GamelistMapper">
  <resultMap id="BaseResultMap" type="com.abc.pojo.Gamelist">
    <!--@mbg.generated-->
    <!--@Table gamelist-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gamename" jdbcType="VARCHAR" property="gamename" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gamename
  </sql>
</mapper>