<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.dao.UserMapper">


<select id="login" resultType="com.abc.pojo.User">
select * from user where name=#{username} and password=#{password}
</select>

<insert id="add">
insert into user(name,password) values(#{username},#{password})
</insert>


<delete id="delete">
    delete from `user` where name =#{user_id};
</delete>
<select id="getorderpassword" resultType="com.abc.pojo.User">
select * from user where name=#{user_id}
</select>
<update id="modify">
UPDATE `user` set `password`=#{newpassword} WHERE id=#{id}
</update>
</mapper>